.theme-button.ant-btn{
    border: 2px solid black !important;
    color: black !important;
    border-radius: 8px;
    font-size: 20px;
    height: unset;
}
.theme-button.ant-btn:hover{
    color: black;
    border: 2px solid black;
}
.bid_button.ant-btn{
    background-color: aqua !important;
    border-radius: 8px !important;
    font-size: 18px;
    font-weight: 500;
    height: unset;
}
.bid_button.ant-btn:hover{
    background-color: aqua !important;
    border-radius: 8px !important;
    font-size: 18px;
    border: 1px solid black;
    color: black;
    font-weight: 500;
    height: unset;
}