.menu-item.ant-menu-item{
    color: black !important;
    font-size: 18px;
}
.menu-item.ant-menu-item:hover{
    color: black;
    /* border-bottom: 2px solid black; */
}
.navbar{
    padding-top: 10px !important;
    display: flex;
    justify-content: space-between;
}